doctype html
html(lang="en")
    head
        title= "Hello from Jeszpy"
    body
        div
            h1 Hi, #{name}!
            p You have registered on
                a.link(href="Jeszpy.com")  you have registered on Jeszpy.com. Click on this link to verify your email address:
                a.link(href="https://hl-homework-api.herokuapp.com/ht-04/api/auth/registration-confirmations/#{confirmationCode}") #{confirmationCode}
            br
            img(src="https://railsware.com/blog/wp-content/uploads/2018/09/2400х1260-rw-blog-node-js.png")